{% extends "layout.html" %}
{% set active_page = "minhas-respostas" %}
{% block content %}

        <h2>Minhas Respostas</h2>

		{% for res in respostas %}
		<div class="card">
			<div class="card-body">
				<a href="pergunta/{{ res.idquestion }}" style="text-decoration:none; color: black">
					<h4 class="card-subtitle">{{ res.title }}</h4>
					<p class="card-text">{{ res.description }}</p>
				</a>
				<button class="btn btn-primary btn-outline-primary btn-round">{{ res.data }}</button>
				<button class="btn btn-primary btn-outline-primary btn-round">{{ res.fullname }}</button>
				<a href="/editar-resposta/{{ res.idanswer }}">
					<button class="btn btn-primary btn-outline btn-round">Editar</button>
				</a>
				<a href="/remover-resposta/{{ res.idanswer }}">
					<button class="btn btn-danger btn-primary btn-outline btn-round">Deletar</button>
				</a>
			</div>
		</div>
		{% endfor %}

{% endblock %}