{% extends "layout.html" %}
{% set active_page = "pergunta" %}
{% block content %}
	<script>
      $(document).ready(function(){
        $("#question-upvote").click(function(){
          var votes = Number($("#question-votes").text());
          $("#question-votes").html('<img src="{{ url_for("static", filename="img/loading.gif") }}" />');
          $.ajax({
            type : "POST",
            dataType : "text",
            url : "{{url_for('votar_pergunta')}}",
            contentType: "application/json; charset=utf-8",
            data : JSON.stringify({"id":"{{pergunta_id}}", "vote":"1"}),
            success: function(data, textStatus, jQxhr){
              $("#question-upvote").css("background","green");
              $("#question-votes").val(votes+1);
              $("#question-votes").html($("#question-votes").val());
              $("#question-msg").html("Tudo certo! O voto foi computado com sucesso.");
            },
            error: function(jqXhr, textStatus, errorThrown){
              $("#question-votes").html(votes);
              $("#question-upvote").css("background","#fa7a50");
              $("#question-msg").html("Algo deu errado! Você já votou nessa pergunta.");
            }
          });
        });
        $("#question-downvote").click(function () {
          var votes = Number($("#question-votes").text());
          $("#question-votes").html('<img src="{{ url_for("static", filename="img/loading.gif") }}" />');
          $.ajax({
            type : "POST",
            dataType : "text",
            url : "{{url_for('votar_pergunta')}}",
            contentType: "application/json; charset=utf-8",
            data : JSON.stringify({"id":"{{pergunta_id}}", "vote":"-1"}),
            success: function(data, textStatus, jQxhr){
              $("#question-downvote").css("background","red");
              $("#question-votes").val(votes-1);
              $("#question-votes").html($("#question-votes").val());
              $("#question-msg").html("Tudo certo! O voto foi computado com sucesso.");
            },
            error: function(jqXhr, textStatus, errorThrown){
              $("#question-votes").html(votes);
              $("#question-downvote").css("background","#fa7a50");
              $("#question-msg").html("Algo deu errado! Você já votou nessa pergunta.");
            }
          });
        });
      });
      </script>
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">{{ pergunta_title }}</h2>
				<p class="card-text">{{ pergunta_desc }} </p>
				<button class="btn btn-primary btn-icon btn-round" id="question-upvote">
					<i class="now-ui-icons arrows-1_minimal-up"></i>
				</button>
				<span id="question-votes">{{ pergunta_votes }}</span>
				<button class="btn btn-primary btn-icon btn-round" id="question-downvote">
					<i class="now-ui-icons arrows-1_minimal-down"></i>
				</button>
				<button class="btn btn-primary btn-outline-primary btn-round">
						{{ pergunta_data }}
				</button>
				<button class="btn btn-primary btn-outline-primary btn-round">
					{{ pergunta_fullname }}
				</button>
				<span id="question-msg"></span>
			</div>
		</div>

	{% if session['logged_user_id'] %}
    <form class="form" method="POST">
		  <div class="card">
        <div class="card-body">
          <blockquote class="blockquote blockquote-primary mb-0">
						<textarea name="resposta" class="form-control" placeholder="Digite sua resposta aqui"></textarea>
            <input type="submit" name="download" value="Responder" class="btn btn-primary btn-round">
          </blockquote>
		    </div>
		  </div>
    </form>
		{% else %}
		<div class="card">
			<div class="card-body">
				<blockquote class="blockquote blockquote-primary mb-0">
					<a href="/login"><button class="btn btn-link btn-primary ">Clique aqui para fazer login e responder</button></a>
				</blockquote>
			</div>
		</div>

    {% endif %}

    {% for resp in respostas %}
		<div class="card">
		<div class="card-body">
			<!--blockquote class="blockquote blockquote-primary mb-0"-->
				<p class="card-text">{{ resp.description }}</p>
				<button class="btn btn-primary btn-icon btn-round">
				  <i class="now-ui-icons arrows-1_minimal-up"></i>
				</button>
				<big>{{ resp.rating }}</big>
				<button class="btn btn-primary btn-icon btn-round">
				  <i class="now-ui-icons arrows-1_minimal-down"></i>
				</button>
				<button class="btn btn-primary btn-outline-primary btn-round">
					{{ resp.data }}
				</button>
				<button class="btn btn-primary btn-outline-primary btn-round">
					{{ resp.user_fullname }}
				</button>
			<!--/blockquote-->
		</div>
		</div>
    {% endfor %}


		<!-- <div class="card"> -->
		<!-- <div class="card-body"> -->
		<!-- 	<blockquote class="blockquote blockquote-primary mb-0"> -->
		<!-- 		<p class="card-text">Eu sou a melhor resposta. Me respeitem!</p> -->
		<!-- 		<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 		  <i class="now-ui-icons arrows-1_minimal-up"></i> -->
		<!-- 		</button> -->
		<!-- 		<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 		  <i class="now-ui-icons arrows-1_minimal-down"></i> -->
		<!-- 		</button> -->
		<!-- 	</blockquote> -->
		<!-- </div> -->
		<!-- </div> -->
		<!-- <div class="card"> -->
		<!-- <div class="card-body"> -->
		<!-- 	<p class="card-text">Tenta em C, ninguem usa java hoje em dia!</p> -->
		<!-- 	<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 	  <i class="now-ui-icons arrows-1_minimal-up"></i> -->
		<!-- 	</button> -->
		<!-- 	<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 	  <i class="now-ui-icons arrows-1_minimal-down"></i> -->
		<!-- 	</button> -->
		<!-- </div> -->
		<!-- </div> -->
		<!-- <div class="card"> -->
		<!-- <div class="card-body"> -->
		<!-- 	<p class="card-text">C também não pô, faz em Python!</p> -->
		<!-- 	<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 	  <i class="now-ui-icons arrows-1_minimal-up"></i> -->
		<!-- 	</button> -->
		<!-- 	<button class="btn btn-primary btn-icon btn-round"> -->
		<!-- 	  <i class="now-ui-icons arrows-1_minimal-down"></i> -->
		<!-- 	</button> -->
		<!-- </div> -->
		<!-- </div> -->

{% endblock %}
