{% extends "layout.html" %}
{% block content %}

<div class="card card-login card-plain">
            <form class="form" method="POST" action="cadastro">
              <div class="card-header text-center">
                <div class="logo-container">
                  <img src="../assets/img/now-logo.png" alt="">
                </div>
              </div>
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" name="nickname" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons text_caps-small"></i>
                    </span>
                  </div>
                  <input type="text" name="password" placeholder="Last Name..." class="form-control">
                </div>
              </div>
              <div class="card-footer text-center">
                <input type="submit" value="Submit" class="btn btn-primary btn-round btn-lg btn-block">
                <div class="pull-left">
                  <h6>
                    <a href="#pablo" class="link">Create Account</a>
                  </h6>
                </div>
                <div class="pull-right">
                  <h6>
                    <a href="#pablo" class="link">Need Help?</a>
                  </h6>
                </div>

            </div></form>
          </div>

{% endblock %}
