{% extends "layout.html" %}
{% set active_page = "minhas-respostas" %}
{% block content %}

        <h2>Minhas Respostas</h2>

		{% for res in respostas %}
		<a class="card" href="pergunta/{{ res.idquestion }}">
		<div class="card-body">
			<h4 class="card-subtitle">{{ res.title }}</h4>
			<p class="card-text">{{ res.description }}</p>
			<button class="btn btn-primary btn-outline-primary btn-round">
					{{ res.data }}
			</button>
			<button class="btn btn-primary btn-outline-primary btn-round">
				{{ res.fullname }}
			</button>
		</div>
		</a>
		{% endfor %}

{% endblock %}