{% extends "layout.html" %}
{% set active_page = "minha-conta" %}
{% block content %}
<h2>Minha Conta</h2>
<div class="row">
					<div class="col-md-10">
						<a href="/minhas-perguntas"><button class="btn btn-primary" type="button">Minhas Perguntas</button></a>
            <a href="/minhas-respostas"><button class="btn btn-primary" type="button">Minhas Respostas</button></a>
            <a href="/remover-conta"><button class="btn btn-danger">Remover Conta</button></a>
					</div>
</div>
<br>
<br>
<h3>Alterar dados</h3>
<div class="card card-login card-plain">
            <form class="form" method="POST" action="/minha-conta">
              <div class="card-body">
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input type="text" name="fullname" class="form-control" value="{{ user['fullname'] }}">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                  <input type="email" name="email" class="form-control" value="{{ user.email }}">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_lock-circle-open"></i>
                    </span>
                  </div>
                  <input type="password" name="password" placeholder="Digite a nova senha para alterá-la" class="form-control">
                </div>
                <div class="input-group no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <textarea name="description" class="form-control">{{ user.description }}</textarea>
                </div>
              </div>
              <div class="card-footer text-center">
                <input type="submit" value="Atualizar" class="btn btn-primary btn-round btn-lg btn-block">
            </div></form>
          </div>
{% endblock %}
