{% extends "layout.html" %}
{% set active_page = "minhas-perguntas" %}
{% block content %}

        <h2>Minhas Perguntas</h2>

		{% for perg in perguntas %}
		<a class="card" href="pergunta/{{ perg.idquestion }}">
		<div class="card-body">
			<h4 class="card-subtitle">{{ perg.title }}</h4>
			<p class="card-text">{{ perg.description }}</p>
			<button class="btn btn-primary btn-outline-primary btn-round">
					{{ perg.data }}
			</button>
			<button class="btn btn-primary btn-outline-primary btn-round">
				{{ perg.fullname }}
			</button>
		</div>
		</a>
		{% endfor %}

{% endblock %}