{% extends "layout.html" %}
{% set active_page = "minhas-perguntas" %}
{% block content %}

        <h2>Minhas Perguntas</h2>

		{% for perg in perguntas %}
		<div class="card">
		<div class="card-body">
      <a href="pergunta/{{ perg.idquestion }}">
			<h4 class="card-subtitle">{{ perg.title }}</h4>
			<p class="card-text">{{ perg.description }}</p>
      </a>
			<button class="btn btn-primary btn-outline-primary btn-round">
					{{ perg.data }}
			</button>
			<button class="btn btn-primary btn-outline-primary btn-round">
				{{ perg.fullname }}
			</button>
      <a href="/editar-pergunta/{{ perg.idquestion }}">Editar</a>
      <a href="/remover-pergunta/{{ perg.idquestion }}">Deletar</a>
		</div>
		</div>
		{% endfor %}

{% endblock %}
